.autocomplete {
  li {
    padding: 5px;
    border-top: 1px solid gray;

    &:first-child {
      border: 0 none;
    }

    &:hover {
      background-color: lightskyblue;
    }
  }
  &-search {
    box-sizing: border-box;
  }
  &-search,
  &-results {
    border: 1px solid;
  }
}
