.d-none {
  display: none;
}

.w-100 {
  width: 100%;
}

.mt-1 {
  margin-top: 10px;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

h1 {
  text-align: center;
}

p {
  margin: 0;
}

.autocomplete {
  li {
    padding: 5px;
    border-top: 1px solid gray;

    &:first-child {
      border: 0 none;
    }

    &:hover {
      background-color: lightskyblue;
    }
  }
  &-search {
    box-sizing: border-box;
  }
  &-search,
  &-results {
    border: 1px solid;
  }
}
