body {
  background-color: #2e2f44;
  overflow: hidden;
}

.d-none {
  display: none;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

h1 {
  text-align: center;
}

p {
  margin: 0;
}
