:root{
  --color1: #2e2f44;
  --color2: transparent;
  --color3: #1caaa5;
  --color4: #3f3f55;
  --color5: #8c8ca8;

  --backgroundColor-homePage: var(--color1);
  --borderColor-autocomplite: var(--color2);

  --color-autocompliteSearchIcon: var(--color3);
  --color-autocompliteCloseIcon: var(--color3);
  --backgroundColor-autocomplite: var(--color4);
  --color-autocomplite: var(--color5);

  --backgroundColor-content: var(--color4);

  --color-homePage: var(--color3);
}

body {
  background-color: var(--backgroundColor-homePage);
  overflow: hidden;
}

.d-none {
  display: none;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

h1 {
  text-align: center;
  color: var(--color-homePage);
}

p {
  margin: 0;
}
